body{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
header{
  background: url("../images/verdure header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  background-position: center;
}
.logo img{
  width: 100px;
  margin-left: 700px;
}
.nav ul li a{
text-decoration: none;
color: black;
}
.nav ul li {
list-style: none;
display: inline;
padding: 10px;
}
.nav ul{
text-align: center;
}
.cup{
  text-align: center;
}
.cup h1{
  font-size: 90px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
.cup p{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
.cup button{
  width:200px;
  height: 50px;
  padding:0 17px;
  color: white;
  background: #98a86d;
  text-align: center;
}

.home{
  background: url("../images/home-2background.jpg");
  color: white;
  height: 350px;
}
.green {
  display: grid;
  grid-template-columns: 1fr 2fr ;
  margin-top:-1px;
  padding-top: -10px;
}
.home-content {
  padding-top: 60px;
  position: relative;
  margin-left: 200px;
}

.green-tea img{
  width: 500px;
  height: 350px;
}
button:hover{
  background: #98a86d;
}
#button{
  width:200px;
  height: 50px;
  padding:0 17px;
  color: white;
  text-align: center;
}
.Shop img{
  border-radius: 900px;
  height: 150px;
}
.Shop{
  grid-template-columns: auto auto auto auto;
  display: grid;
  /* padding: 70px; */
}
.Shop fa fa-star checked{
  margin-left: 50px;
}
.tea{
  text-align: center;
}
.tea h2{
  font-weight: bold;
  text-transform: uppercase;
}
.nav a:hover{
  color: #98a86d;
}
.gridItems{
  text-align: center;
}
.fa{
  color: #000000;
}
span:hover {
    color: #98a86d;
}
.black {
  display: grid;
  grid-template-columns: 1fr 2fr ;
  margin-top: 10px;
  /* margin: 10px; */
  padding: 0px;
}
.coffee{
  background: url("../images/home-2background.jpg");
  color: white;
  height: 350px;
  width: 900px;
margin-left: 20px;
}


.coffee p{
  margin-left: 80px;
}
.coffee h2{
  margin-left: 80px;
}
.black button{
  margin-left: 80px;
}
.image img{

  width: 500px;
  height: 350px;
margin-left: -15px;
}
#boot{
  width:200px;
  height: 50px;
  padding:0 17px;
  color: white;
  text-align: center;
}
.house{
  text-align: center;
}
.house h4{
font-size: 50px;
}
.images{
  grid-template-columns: auto auto auto;
  display: grid;
  padding: 70px;
}
.images h5{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
